<!DOCTYPE html>
<html lang="ko" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <title>WebSocket ChatRoom</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.3/dist/css/bootstrap.min.css">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<div class="container" id="app" v-cloak>
    <div>
        <h2>{{room.name}}</h2>
    </div>
    <div class="col-md-6 text-right">
        <a class="btn btn-primary btn-sm" href="/logout">로그아웃</a>
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <label class="input-group-text">내용</label>
        </div>
        <input type="text" class="form-control" v-model="message" v-on:keypress.enter="sendMessage('TALK')">
        <div class="input-group-append">
            <button class="btn btn-primary" type="button" @click="sendMessage('TALK')">보내기</button>
        </div>
    </div>
    <ul class="list-group">
        <li class="list-group-item" v-for="message in messages">
            {{message.sender}} - {{message.message}}</a>
        </li>
    </ul>
    <div></div>
</div>
<script src="/webjars/vue/2.5.16/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
<script src="/webjars/axios/0.21.0/dist/axios.min.js"></script>
<script src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/2.3.4/stomp.min.js"></script>
<script>
    var sock = new SockJS("/ws-stomp");
    var ws = Stomp.over(sock);
    var reconnect = 0;
    var vm = new Vue ({
        el: '#app',
        data: {
            roomId: '',
            roomName: {},
            message: '',
            messages: [],
            token: ''
        },
        created() {
            this.roomId = localStorage.getItem('wschat.roomId');
            this.roomName = localStorage.getItem('wschat.roomName');
            var _this = this;
            axios.get('/chat/user').then(response => {
                _this.token = response.data.token;
                ws.connect({"token":_this.token}, function (frame) {
                    ws.subscribe("/sub/chat/room/" + _this.roomId, function (message) {
                        var recv = JSON.parse(message.body);
                        _this.recvMessage(recv);
                    });
                    _this.sendMessage('ENTER');
                }, function (error) {
                    alert("서버 연결에 실패하였습니다. 다시 접속해주세요.");
                    location.href = "/chat/room";
                });
            });
        },
        methods: {
            sendMessage: function (type) {
                ws.send("/pub/chat/message",
                    {"token":this.token},
                JSON.stringify({type:type, roomId:this.roomId, message:this.message}));
                this.message = '';
            },
            recvMessage: function (recv) {
                this.messages.unshift({
                    "type": recv.type,
                    "sender": recv.sender,
                    "message": recv.message
                })
            }
        }
    });

    function connect() {
        // pub/sub event
        ws.connect({"token":this.token}, function(frame) {
            ws.subscribe("/sub/chat/room/" + vm.$data.roomId, function(message) {
                var recv = JSON.parse(message.body);
                vm.recvMessage(recv);
            });
            ws.send("/pub/chat/message", {"token":this.token}, JSON.stringify({
                type: 'ENTER',
                roomId: vm.$data.roomId,
                sender: vm.$data.sender,
                message: vm.$data.sender + "님이 입장하셨습니다."
            }));
        }, function(error) {
            if (reconnect++ <= 5) {
                setTimeout(function() {
                    console.log("connection reconnect");
                    sock = new SockJS("/ws-stomp");
                    //sock = new SockJS("/ws-stomp");
                    ws = Stomp.over(sock);
                    connect();
                }, 10*1000);
            }
        });
    }
    connect();
</script>
</body>
</html>