spring:
#
#  datasource:
#    url: jdbc:h2:tcp://localhost/~/babyakDB
#    driver-class-name: org.h2.Driver
#    username: sa


  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true

  profiles:
    include: oauth, db

  devtools:
    livereload:
      enabled: true
    restart:
      enabled: true

  redis:
    host: 3.36.207.252 #localhost
    port: 6379
    timeout: 3000 #ms connection timeout

  jwt:
    secret: ewhaBabyakBabmate



#  rabbitmq:
#    username: guest
#    password: guest
#    host: localhost
#    port: 15672